---
---
@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-image: linear-gradient(120deg, red, antiquewhite);
    max-height: 50px;
}
.main-content img {
    max-width: 300px;
    margin-left: 250px;
}
.main-content h1 {
 color: red;   
}
.main-content h3 {
 color: black;   
}
